<main id="classroom-main" data-classroom-id="<%= @classroom.id %>">
  <header class="main-header">
    <h1><%= @classroom.title %></h1>
    <p><%= @classroom.description %></p>
  </header>
  <section>
    <header>
      <h2>
        Liste d'utilisateurs
      </h2>
    </header>
    <ul>
      <% @attendances.each do |attendance| %>
        <li id="user-attendance-<%= attendance.user.id %>">
          <span class="connected-indic <%= attendance.online? ? "green" : "red" %>"></span>
          <span class="user-email"><%= attendance.user.email %></span>
        </li>
      <%end %>
    </ul>
  </section>
</main>
